*{
    margin: 0;
    padding: 0;
}
.logo {
    min-width: 100px;
    max-width: 150px;
    margin: 1rem 0;
}
body {
    background-color: #001b38;
    color: #d4d4d4;
}
header{
    background-color: #d4d4d4;
}

.fotoMolino {
    width: 45%;
    
}
.fotoMolino img {
    width: 90%;
    min-width: 200px;
    max-width: 400px;
}

iframe {
    width: 90%;
    min-width: 300px;
    max-width: 500px;
}

h2 {
    margin: 0 !important;
}
.textoServicios {
    width: 95%;
    max-width: 600px;
}
.trabajosEspeciales {
    width: fit-content;
    max-width: 600px !important;

    border: #F79824 solid 2px;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
}
.trabajosEspeciales:hover {
    background: rgb(247,152,36);
    background: linear-gradient(15deg, rgba(247,152,36,1) 0%, rgba(177,193,192,1) 100%);
    color: #001b38;
    font-weight: 700;
    cursor: pointer;
}

.medidaCarousel {
    width: 70%;
    max-width: 1200px;
}

.quienesSomos {
    width: 90%;
    min-width: 350px;
    max-width: 450px;
    margin: 5rem 2rem;
}

.filaQuienes {
    height: 50vh;
}
.imgEquipo {
    width: 90%;
    min-width: 350px;
    max-width: 600px;
}
.textoMision {
    width: 90%;
    max-width: 1000px;
}
.imgClientes {
    width: 90%;
    min-width: 350px;
    max-width: 600px;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;

    width: 95%;
    max-width: 800px;
    height: 80vh;
    padding: 2rem;
    margin: 2rem 0;
}
.whatsapp{
    width: 15%;
    max-width: 80px;
    position: fixed;
    bottom: 4rem;
    right: 1rem;
}
footer {
    background-color: rgb(205, 205, 205);
    color: #001b38;
}
footer li {
    border-right: #001b38 solid 2px ;
}
.mapaFooter {
    min-width: 20px;
    max-width: 50px;
}
nav a {
    color: #001b38 !important;
}
nav a:hover {
    color: #F79824 !important;
}
span {
    color: #F79824 ;
}